.nav{
   width:100%;
   height: fit-content; 
   background: #E0E8E7;
   align-items: center;
   position: fixed;
   bottom: 0px;
   left: 0px;  
}

a{
    color: black;
    font-size: 0.8vw;
}

@media only screen and (max-width: 750px) {
    a{
       font-size: 1.2vw;
    }
}