<body >
    <h1>{{'label.manchegosCheeses' | translate}}</h1>
    <nav class="selection" [hidden]="selectionNav">
        <a class="badge badge-pill" [ngClass]="{notActive: showAllCheeses, active: !showAllCheeses}" (click)="getAllCheeses()">{{'label.all' | translate}}</a>
        <a class="badge badge-pill" [ngClass]="{notActive: showCuredCheeses, active: !showCuredCheeses}" (click)="getCuredCheeses()">{{'label.cured' | translate}}</a>
        <a class="badge badge-pill" [ngClass]="{notActive: showSemicuredCheeses, active: !showSemicuredCheeses}" (click)="getSemicuredCheeses()">{{'label.semi-cured' | translate}}</a>
        <a class="badge badge-pill" [ngClass]="{notActive: showSoftCheeses, active: !showSoftCheeses}" (click)="getSoftCheeses()">{{'label.soft' | translate}}</a>        
    </nav>

    <!--All cheeses-->
    <div class="cards" [hidden]=" showAllCheeses" >
        <div class="card" *ngFor= "let cheese of cheeses">
            <img src="{{cheese.picture}}" alt="">
            <div class="title">
                <div>
                    <h2>{{cheese.name}}</h2>
                </div>
                <div>
                    <h3>{{cheese.price}} <i class="fas fa-euro-sign"></i> </h3>
                </div>
            </div>
            <hr>
            <div class="information">
                <p>{{'label.type' | translate}}: {{cheese.time}}</p>
                <p>{{'label.origin' | translate}}: {{cheese.origin}}</p>
                <p>{{'label.milk' | translate}} {{cheese.milk}}</p>
            </div>
            <div class="info">
                <p id="shopping"><i class="fas fa-shopping-basket"></i></p>
                <button type="button" class="btn" (click)="getOneCheese(cheese.product_id)">+ info</button>
            </div>
        </div>
    </div>

    <!--All cured-->
    <div class="cards" [hidden]="showCuredCheeses">
        <div class="card" *ngFor= "let cheese of curedCheeses">
            <img src="{{cheese.picture}}" alt="">
            <div class="title">
                <div>
                    <h2>{{cheese.name}}</h2>
                </div>
                <div>
                    <h3>{{cheese.price}} <i class="fas fa-euro-sign"></i> </h3>
                </div>
            </div>
            <hr>
            <div class="information">
                <p>{{'label.type' | translate}}: {{cheese.time}}</p>
                <p>{{'label.origin' | translate}}: {{cheese.origin}}</p>
                <p>{{'label.milk' | translate}} {{cheese.milk}}</p>
            </div>
            <div class="info">
                <p id="shopping"><i class="fas fa-shopping-basket"></i></p>
                <button type="button" class="btn" (click)="getOneCheese(cheese.product_id)">+ info</button>
            </div>
        </div>
    </div>

    <!--All semicured-->
    <div class="cards" [hidden]="showSemicuredCheeses">
        <div class="card" *ngFor= "let cheese of semiCheeses">
            <img src="{{cheese.picture}}" alt="">
            <div class="title">
                <div>
                    <h2>{{cheese.name}}</h2>
                </div>
                <div>
                    <h3>{{cheese.price}} <i class="fas fa-euro-sign"></i> </h3>
                </div>
            </div>
            <hr>
            <div class="information">
                <p>{{'label.type' | translate}}: {{cheese.time}}</p>
                <p>{{'label.origin' | translate}}: {{cheese.origin}}</p>
                <p>Leche {{cheese.milk}}</p>
            </div>
            <div class="info">
                <p id="shopping"><i class="fas fa-shopping-basket"></i></p>
                <button type="button" class="btn" (click)="getOneCheese(cheese.product_id)">+ info</button>
            </div>
        </div>
    </div>

    <div class="arrowUp">
        <a><i class="fas fa-arrow-circle-up"></i></a>
    </div>

    <!--All soft-->
    <div class="cards" [hidden]="showSoftCheeses">
        <div class="card" *ngFor= "let cheese of softCheeses">
            <img src="{{cheese.picture}}" alt="">
            <div class="title">
                <div>
                    <h2>{{cheese.name}}</h2>
                </div>
                <div>
                    <h3>{{cheese.price}} <i class="fas fa-euro-sign"></i> </h3>
                </div>
            </div>
            <hr>
            <div class="information">
                <p>{{'label.type' | translate}}: {{cheese.time}}</p>
                <p>{{'label.origin' | translate}}: {{cheese.origin}}</p>
                <p>Leche {{cheese.milk}}</p>
            </div>
            <div class="info">
                <p id="shopping"><i class="fas fa-shopping-basket"></i></p>
                <button type="button" class="btn" (click)="getOneCheese(cheese.product_id)">+ info</button>
            </div>
        </div>
    </div>
</body>
