<body>
    <h1>{{'label.manchegosWines' | translate}}</h1>
    <nav class="selection">
        <a class="badge badge-pill" id="active"  routerLink= "/wines">{{'label.all' | translate}}</a>
        <a class="badge badge-pill"  routerLink= "/redWines">{{'label.red' | translate}}</a>
        <a class="badge badge-pill"  routerLink= "/whiteWines">{{'label.white' | translate}}</a>
        <a class="badge badge-pill"  routerLink= "/roseWines">{{'label.rose' | translate}}</a>
    </nav>

    <div class="cards">
        <div class="card" *ngFor= "let wine of wines">
            <img [src]="wine.picture" alt="{{wine.name}}">
            <div class="title">
                <div>
                    <h2>{{wine.name}}</h2>
                </div>
                <div>
                    <h3>{{wine.price}} <i class="fas fa-euro-sign"></i> </h3>
                </div>
            </div>
            <hr>
            <div class="information">
                <p>{{'label.type' | translate}}: {{wine.type}}</p>
                <p>{{'label.origin' | translate}}: {{wine.origin}}</p>
            </div>
            <div class="info">
                <p id="shopping"><i class="fas fa-shopping-basket"></i></p>
                <button type="button" class="btn">+ info</button>
            </div>
        </div>
    </div>

    <div class="arrowUp">
        <a><i class="fas fa-arrow-circle-up"></i></a>
    </div>
</body>