<div class="navegationBar">
    <div class="nav1">
        <img src="../../../assets/diputacion.png" alt="Logo de la mancha">
    </div>
    <ul class="nav justify-content-end">
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-list-ul"></i> </a>
            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink= "/wines"><i class="fas fa-wine-bottle"></i> {{'label.wines' | translate}}</a>
              <a class="dropdown-item"  routerLink= "/cheeses"><i class="fas fa-cheese"></i> {{'label.cheeses' | translate}}</a>
            </div>
          </li>
        <li class="nav-item" data-toggle="collapse" data-target="#navbarToggleExternalContent" >
          <a class="nav-link"><i class="fas fa-search"></i></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbarDropdownUser" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-user"></i></a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownUser">
            <a class="dropdown-item" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-sign-in-alt"></i> {{'label.enter' | translate}}</a>
            <a class="dropdown-item" routerLink= "/login"> <i class="fas fa-user-cog"></i>Pagina del login</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink= "/basket"><i class="fas fa-shopping-basket"></i></a>
        </li>
      </ul>
</div>

<!--Searcher-->
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg">
      <nav class="navbar navbar-light  justify-content-end">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="{{'label.search'|translate}}" aria-label="Search">
          <button  class="btn outlineColor" type="submit">{{'label.search'|translate}}</button>
        </form>
      </nav>
    </div>
  </div>
</div>

<!--User-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{'label.loginAccount'|translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="exampleInputEmail1">{{'label.email'|translate}}</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">{{'label.password'|translate}}</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
          </div>
          <button type="submit" class="btn outlineColor">{{'label.enter'|translate}}</button>
        </form>
      </div>
      <div class="modal-footer justify-content-around">
        <a>{{'label.rememberPassword'|translate}}</a>
        <a>{{'label.register'|translate}}</a>
      </div>
    </div>
  </div>
</div>
