<div class="navegationBar">
    <div class="nav1">
        <img src="../../../assets/diputacion.png" alt="Logo de la mancha">
    </div>
    <ul class="nav justify-content-end">
        <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="fas fa-list-ul"></i> </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" routerLink= "/wines"> {{'label.wines' | translate}}</a>
              <a class="dropdown-item"  routerLink= "/cheeses">{{'label.cheeses' | translate}}</a>
            </div>
          </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink= "/"><i class="fas fa-search"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink= "/"><i class="fas fa-user"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink= "/basket"><i class="fas fa-shopping-basket"></i></a>
        </li>
      </ul>
</div>

