<!-- +info product-->
<div class="productInformation">
    <h1>{{'label.manchegoCheese' | translate}}</h1>
    <a (click)="goBack()" class="arrow"><i class="fas fa-arrow-circle-left"></i></a>
    
    <div class="productCard">
        <img src="{{cheese.picture}}" alt="{{cheese.name}}">
        <div>
            <div>
                <h2>{{cheese.name}}</h2> 
                <div class="summary">
                    <p>{{cheese.type}}</p> 
                    <p>-</p>
                    <p>{{'label.milk' | translate}} {{cheese.milk}}</p> 
                    <p>-</p>
                    <p>{{cheese.origin}}</p>
                </div>
            </div>
            <hr>
            <div class="infoCheese">
                <p>{{cheese.description}}</p>                            
            </div>
            <div class="priceShop">
                <p id="basketPrice">{{'label.price' | translate}}: {{cheese.price}} <i class="fas fa-euro-sign"></i></p>
                <p id="basketCheese"><i class="fas fa-shopping-basket"> </i></p>
            </div>
        </div>
    </div>
</div>
