h1{
    text-align: center;
    padding-top: 5%;
    font-size: 5vw;
    font-family: 'Arapey', serif;
    font-weight: bold;
}

h2{
    font-size: 1.5vw;
}

h3{
    font-size: 1.3vw;
}

body{
    padding-bottom: 5%;
}

.selection{
    width: 80%;
    margin: auto auto auto auto;
    padding-top: 5%;
    font-size: 1.5vw;
}

.badge{
    margin-right: 1%;
    background-color: #D199A5;
    font-weight:normal;
    color: white;
}

#active{
    background-color: #99223D;
    color: white;
}


.cards{ 
    padding-top: 1%;   
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    grid-gap: 3%;
    width: 80%;
    margin: auto auto auto auto;
}

.card{
    border: solid 1px rgba(202, 196, 196, 0.741);
    border-radius: 2%;
    width: 100%;
    height: fit-content;
    padding: 5%;
}

.card img{
    width: 60%;
    margin: auto auto auto auto;
    padding-bottom: 5%;
}

.title{
    display: grid;
    grid-template-columns:65% 25%;
    grid-gap: 10%;
    padding-top: 5%;
}

.information p{
    font-size: 1vw;
    margin-bottom: 0;
    width: 100%;
}

.info{
    display: grid;
    grid-template-columns:25% 35%;
    grid-gap: 40%;
    padding-top: 15%;
}

.info button{ 
    margin: auto auto auto auto;
    width: 100%;
    background-color: #99223D;
    color: white;
    font-size: 1vw;
}

#shopping{
    font-size: 2vw;
    margin: auto auto auto auto;
}


.arrowUp i{
    color: black;
    width: 5%;
    font-size: 2vw;
    margin-left: 95%;
    position: absolute;
}

@media only screen and (max-width: 850px) {
    body{
        padding-bottom: 10%;
    }

    .selection{
        width: 80%;
        font-size: 3vw;
    }

    h2{
        font-size: 2.5vw;
    }

    h3{
        font-size: 2.4vw;
    }

    .cards{ 
        grid-template-columns: 45% 45%;
        grid-gap: 10%;
        width: 80%;
    }

    .information p{
        font-size: 2vw;
    }

    .info button{ 
        font-size: 2vw;
    }

    #shopping{
        font-size: 3vw;
    }

    .arrowUp i{
        font-size: 3vw;
    }

}

@media only screen and (max-width: 500px) {
    .selection{
        width: 90%;
        font-size: 4vw;
    }

    h2{
        font-size: 4.5vw;
    }

    h3{
        font-size: 4.3vw;
    }

    .cards{ 
        grid-template-columns: auto;
        width: 90%;        
        grid-gap: 2%;
    }

    .card img{
        width: 40%;
    }

    .information p{
        font-size: 4vw;
    }

    .info button{ 
        font-size: 4vw;
    }

    #shopping{
        font-size: 7vw;
    }

    .arrowUp i{
        font-size: 4vw;
    }
}